<p>Please provide a profile id to see their immediate family</p>
<div class="form">
  <form class="bd">
    <label for="pid">Profile ID:</label>&nbsp;<input type="text" name="pid">
    <input type="submit">
  </form>
</div>
<pre>
{{ handprint }}
</pre>
