
<p>Please provide a profile id to see their immediate family</p>
<div class="form">
  <form class="bd">
    <label for="pid">Profile ID:</label>&nbsp;<input type="text" name="pid">
    <input type="submit">
  </form>
</div>

<div class="content_detail">
{% if error != null %}
  <div id="api_error">{{ error }} {{ message }}.</div>
{% else %}
  <strong>Immediate family for {{ focus }}:</strong>
  <pre>
  {{ handprint }}
  </pre>
{% endif %}
</div>
