<html>
  <head>
    <title>Geni Sample Client App</title>
    <link rel="icon" href="http://assets1.geni.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://assets1.geni.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />
  </head>
  <body>
    <div class="page_hd hd">
      <div class="fluid"></div>
    </div>
    <div class="page_bd">
      <div class="fluid">
        <div class="bd">
          <a href="/auth">Authorize Geni access</a>
        </div>
      </div>
    </div>
    <div class="page_ft ft"></div>
  </body>
</html>
