<html>
  <head>
    <title>Geni Sample Client App</title>
    <link rel="icon" href="http://assets1.geni.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://assets1.geni.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />
  </head>
  <body>
    <div class="page_hd hd">
      <div class="fluid">
        <div class="mod">
          <a href="/auth">Authorize Geni access</a>
        </div>
      </div>
    </div>
    <div class="page_bd ">
      <div class="fluid">

        <div class="content_module">
          <div class="content_inner">
            <div class="content_hd underscore">
              <h1>Heading 1</h1>
            </div>
            <div class="content_bd">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vulputate elit mauris. Vestibulum porttitor nisl at magna bibendum tincidunt. Nunc elit nisl, dignissim vitae posuere et, fringilla ut quam. Donec convallis diam sed mi mollis volutpat. Suspendisse molestie, neque et sodales pharetra, neque odio tincidunt diam, sed posuere diam ligula ut felis. Aliquam pretium volutpat risus, eu scelerisque urna sagittis non. Praesent tincidunt nulla quis sem hendrerit vel tempor lacus scelerisque. Nullam feugiat tellus nec diam consectetur et rhoncus metus interdum. Proin tristique bibendum rutrum. Aliquam id tellus justo, et adipiscing erat.</p>
              <p>Pellentesque arcu risus, dignissim ac porttitor vel, volutpat eget massa. Vestibulum enim lectus, lobortis vel porttitor nec, semper a sapien. Vivamus vestibulum blandit venenatis. Morbi consectetur posuere enim vel egestas. Ut luctus pretium purus, non accumsan nulla convallis id. Praesent ultricies condimentum dui, a tempus diam lacinia at. Vivamus ac pharetra mi. Quisque a libero sit amet nisl tincidunt semper eget eu libero. Etiam condimentum lacinia scelerisque. Nulla lobortis metus ut tellus mollis pretium fermentum orci fermentum. Morbi in velit felis. Sed ac mauris at ante ultricies vestibulum. Phasellus vitae ante lorem, aliquet fringilla ligula. Fusce luctus semper purus, vitae pretium nunc posuere adipiscing. Aenean pellentesque eleifend imperdiet.</p>
              <p>Morbi volutpat arcu nec tortor semper pellentesque. Duis vehicula pulvinar fringilla. In sit amet neque a leo posuere tincidunt. Nullam ac turpis luctus lectus sodales fringilla. Pellentesque enim diam, adipiscing at vestibulum eget, venenatis ultricies magna. Cras mattis faucibus dignissim. Nullam neque sem, cursus vitae facilisis et, pulvinar at urna. Pellentesque dapibus varius ligula, eu tempus diam varius nec. Maecenas sollicitudin purus eros, id gravida nulla. Maecenas velit leo, rutrum vitae tempor nec, sollicitudin ac nulla. Sed nisi massa, faucibus sed convallis gravida, pulvinar ut nisl. Cras egestas nibh et mi accumsan viverra. Maecenas id vulputate tellus. Nam ac vehicula sapien.</p>
              <p>Sed nec dui quis elit malesuada tempor ut quis mauris. Suspendisse sodales orci ut eros tincidunt fermentum. Duis iaculis vehicula arcu, id consequat dui dictum at. Vestibulum ultricies, lorem sed porta ullamcorper, diam leo rutrum risus, at eleifend massa quam sit amet leo. Etiam a dui velit, ac euismod neque. Suspendisse vitae lectus id purus vehicula sagittis ullamcorper et tortor. Vivamus eget urna sapien, et viverra lacus. Nam a mi mi, eu commodo mi. Nunc sit amet elit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Donec convallis tortor orci, non fringilla erat. Nam egestas commodo nunc, nec sollicitudin ipsum fermentum blandit. Mauris eros dolor, tristique sed tincidunt nec, faucibus non justo.</p>
            </div>
          </div>
        </div>
      </div>



      </div>
    </div>
    <div class="page_ft fluid">
      <div class="mod">
        FOOTER  
      </div>
    </div>
  </body>
</html>
